


{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Upload Artist Details</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="name">Artist Name:</label>
        {{ form.name }}
      </div>
      
      <div class="form-group">
        <label for="bio">Artist Bio:</label>
        {{ form.bio }}
      </div>
      
      <div class="form-group">
        <label for="image">Artist Image:</label>
        {{ form.image }}
      </div>
      
      <div class="form-group">
        <label for="social_media">Social Media Links:</label>
        {{ form.social_media }}
      </div>

      <div class="form-group">
        <input type="submit" value="Upload Artist" class="btn btn-primary">
      </div>
    </form>
  </div>
{% endblock %}
