/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F4C2C2; /* Baby Pink Background Color */
  color: #1d1b1b;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1{color: #f7f6f4;} 
h2, h3, h4 {
  color: #141413; /* Darker Brown for headings */
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Header Styles */
.site-header {
  background-color: #e4935d; /* Brown background for header */
  padding: 20px 0;
  color: white;
}

.site-title {
  font-size: 32px;
  font-weight: bold;
}

.main-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.main-nav li {
  margin-left: 20px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
}

.main-nav a:hover {
  background-color: #FF6A00;
  border-radius: 5px;
}

/* Content Section */
.content {
  padding: 40px 20px;
  background-color: rgb(228, 215, 144);
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-section {
  text-align: center;
}

.event-pic img {
  border-radius: 8px;
  margin: 20px 0;
}

.event-details, .description {
  background-color: #F0E1D2; /* Light beige for section background */
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}

.event-details h4, .description h4 {
  color: #6b426d;
}

.description p {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  color: orange;
}

/* Footer Styles */
.site-footer {
  background-color: #e4935d;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.site-footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.site-footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.site-footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .site-header {
      text-align: center;
  }

  .main-nav ul {
      flex-direction: column;
      text-align: center;
  }

  .main-nav li {
      margin-bottom: 10px;
  }

  .event-pic img {
      width: 100%;
      height: auto;
  }

  .content {
      padding: 20px;
  }
}
